﻿@{
    ViewBag.Title = "Home Page";
}

<h1>Use /swagger to check API</h1>
<br />
<br />
<br />

<h2>random IP addresses:</h2>

<h3>6.26.237.34</h3>
<h3>31.250.32.38</h3>
<h3>166.68.247.203</h3>
<h3>232.108.105.46</h3>
<h3>198.216.81.147</h3>
<h3>176.193.43.176</h3>
<h3>175.15.229.67</h3>
<h3>214.50.26.176</h3>
<h3>254.206.182.205</h3>
<h3>168.251.68.204</h3>
